li {
  color: black;
}

.modal {
  background-color: azure;
}

.user,
.titulo {
  color: blue;
}

div input {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
}
div .envia-mensagem {
  font-weight: bold;
  border: 1px solid rgb(228, 227, 227);
  padding: 0.5rem;
  border-radius: 0.5rem;
  opacity: 1;
}
#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#messages li {
  color: black;
  padding: 5px 10px;
}
#messages li:nth-child(odd) {
  background: #eee;
}
