.bnt-entra {
  background: rgb(41, 47, 133);
  padding: 0.5rem;
  border-radius: 0.5rem;
  opacity: 1;
}
.bnt {
  margin-top: 2rem;
  margin-left: 2rem;
}

.bnt a {
  font-size: 14px;
  color: rgb(255, 252, 252);
}
